<h2>Currency</h2>

<form>
  From:
  <select name="fromCurreny" [(ngModel)]="fromCurreny">
    <option *ngFor="let currency of currencies"
            [value]="currency">
      {{ currency }}
    </option>
  </select>

  To: <select name="toCurrency" [(ngModel)]="toCurrency">
    <option *ngFor="let currency of currencies"
            [value]="currency">
      {{ currency }}
    </option>
  </select>

  <button type="submit" (click)="getCurrency()">Submit</button>
</form>

<p>1 {{ currency_from }} = {{ currency_to }} {{ rate }}</p>