<div class="row">
  <h5 class="col s12 valign-wrapper">
    <i class="material-icons">attach_money</i>
    Currency weather
  </h5>

  <form class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <select name="fromCurreny" [(ngModel)]="fromCurreny" materialize="material_select" [materializeSelectOptions]="currencies">
          <option *ngFor="let currency of currencies | hlKeys"
                  [value]="currency">
            {{ currency }}
          </option>
        </select>
        <label>From</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select name="toCurrency" [(ngModel)]="toCurrency">
          <option *ngFor="let currency of currencies | hlKeys"
                  [value]="currency">
            {{ currency }}
          </option>
        </select>
        <label>To</label>
      </div>
    </div>

    <button type="submit" (click)="getRate()">Submit</button>
  </form>

  <p *ngIf="rate">1 {{ fromCurreny }} = {{ toCurrency }} {{ rate }}</p>
</div>
