<div class="row">
  <h5 class="col s12 valign-wrapper">
    <i class="material-icons">attach_money</i>
    Currency
  </h5>

  <form class="col s12" #currenciesForm="ngForm">
    <div class="row">
      <div class="input-field col s12">
        <select name="fromCurrency"
                [(ngModel)]="fromCurrency"
                materialize="material_select"
                [materializeSelectOptions]="currencies">

          <option value="" disabled selected>Choose currency</option>

          <option *ngFor="let currency of currencies | hlKeys"
                  [value]="currency">
            {{ currency }}
          </option>

        </select>
        <label>From</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select name="toCurrency"
                [(ngModel)]="toCurrency"
                materialize="material_select"
                [materializeSelectOptions]="currencies">
          <option value="" disabled selected>Choose currency</option>

          <option *ngFor="let currency of currencies | hlKeys"
                  [value]="currency">
            {{ currency }}
          </option>

        </select>
        <label>To</label>
      </div>
    </div>
  </form>

  <div *ngIf="rate" class="col s12">
    <div>1 {{ fromCurrency }} = {{ toCurrency }} {{ rate | number:'1.2' }}</div>
  </div>
</div>
