@import "../../styles/variables";

:host /deep/ .tabs {
  background-color: inherit;
  margin: 15px 0;

  .tab {
    cursor: pointer;

    a {
      color: #000000;
    }

    a.active,
    a:hover {
      color: $accent-color;
    }
  }

  .indicator {
    background-color: $accent-color !important;
  }
}
