<div class="row"
     *ngIf="!error; else noNews">
  <div class="col s12">
    <ul class="tabs tabs-fixed-width">
      <li *ngFor="let channel of channels; let index = index" class="tab">
        <a [href]="'#' + channel" [id]="'tab' + index">{{ channel }}</a>
      </li>
    </ul>
  </div>

  <div *ngFor="let articles of news; let index = index"
       [id]="channels[index]"
       class="col s12">
    <div *ngFor="let article of articles">
      <b><a href="{{ article.link }}">{{ article.title }}</a></b><br/>
      <i>{{ article.published }}</i><br/>
      <p>{{ article.summary }}</p>
      <hr/>
    </div>
  </div>
</div>

<ng-template #noNews>
  {{ error }}
</ng-template>
